<!-- header -->
<header class="header" th:fragment="header(user)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-9 col-lg-8 col-xl-9">
                <div class="header__content">
                    <!-- header menu btn -->
                    <button class="header__btn" type="button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- end header menu btn -->
                    <!-- header logo -->
                    <a href="content.html" class="header__logo">
                        <img src="/img/logo.svg" alt="">
                    </a>
                    <!-- end header logo -->

                    <!-- header nav -->
                    <ul class="header__nav">
                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a href="/content" class="header__nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">首页</font></font></a>
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuProjects"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;"></font>朋友推荐</font>
                            </a>
                            <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuProjects">
                                <li><a href="/recommend/user/byfriend"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">可能认识</font></font></a></li>
                                <li><a href="/recommend/user/byshare"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最常互动</font></font></a></li>
                                <li><a href="/recommend/user/byhobby"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">兴趣相投</font></font></a></li>
                            </ul>
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a href="/hobby/getall" class="header__nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">兴趣部落</font></font></a>
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuCompanies"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">发现动态</font></font>
                            </a>

                            <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCompanies">
                                <li><a href="/share/friend"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">好友动态</font></font></a></li>
                                <li><a href="/share/recommend"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">推荐动态</font></font></a></li>
                                <li><a href="/share/publish"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">发布动态</font></font></a></li>
                            </ul>
                        </li>
                        <!-- end dropdown -->
                    </ul>
                    <!-- end header nav -->
                </div>
            </div>

            <div class="col-5 col-md-3 col-lg-4 col-xl-3">
                <div class="header__content header__content--end">
                    <div class="header__profile">
                        <a class="dropdown-toggle header__profile-btn" href="#" role="button" id="dropdownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img th:if="${user.imgurl} != null" th:src="${user.imgurl}" alt="用户头像">
                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[${user.nickname}]]</font></font></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right header__dropdown-menu header__dropdown-menu--right" aria-labelledby="dropdownMenuProfile">
                            <li><a href="/user/personinfo"><i class="icon ion-ios-settings"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">设置</font></font></a></li>
                            <li><a href="/logout"><i class="icon ion-ios-exit"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 登出</font></font></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->