<div class="col-12 col-md-5 col-lg-4 col-xl-3" th:fragment="userinfo(user)" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- user -->
    <div class="user">
        <div class="user__head">
            <div class="user__img">
                <img th:if="${user.imgurl} != null" th:src="${user.imgurl}" alt="用户头像">
            </div>
        </div>
        <div class="user__title">
            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[${user.nickname}]]</font></font></h2>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[${user.email}]]</font></font></p>
            <div class="profile__actions">
                <div class="post__location">
                    <i class="icon ion-ios-navigate"></i>
                    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[${user.address}]]</font></font></span>
                </div>
            </div>
        </div>
        <ul class="user__list">
            <li><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">账号：</font></font></span> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[${user.account}]]</font></font></span></li>
            <li><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">年龄：</font></font></span> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[${user.age}]]</font></font></span></li>
            <li><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">性别：</font></font></span> <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[[${user.gender}]]</font></font></span></li>
        </ul>
        <ul class="user__stats">
            <li>
                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">我的关注</font></font></p>
                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    <a th:if="${myfollowing}>0" href="/user/myfollowing">[[${myfollowing}]]</a>
                    <a th:if="${myfollowing}==0" onclick="alert('您还没有关注任何人呢～')">[[${myfollowing}]]</a>
                </font></font></span>
            </li>
            <li>
                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">关注者</font></font></p>
                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    <a th:if="${follower}>0" href="/user/follower">[[${follower}]]</a>
                    <a th:if="${follower}==0" onclick="alert('还没有人关注你呢～')">[[${follower}]]</a>
                </font></font></span>
            </li>
        </ul>
    </div>
    <!-- end user -->

    <!-- social -->
    <div class="sidebox">
        <div class="sidebox__share">
            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">社交：</font></font></span>
            <ul>
                <li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                <li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                <li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                <li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- end social -->
</div>